{% extends "index.html" %}
{% block content %}
<div class="row">
  <div class="col s8 offset-s2">
    <h5>Contact Me:</h5>
    <div>
      <ul class="socialmedia" style="text-align:center">
        <li><a href="https://www.facebook.com/"><i data-feather="facebook"></i></a></li>
        <li><a href="https://www.twitter.com/"><i data-feather="twitter"></i></a></li>
        <li><a href="https://www.instagram.com/"><i data-feather="instagram"></i></a></li>
        <li><a href="https://www.github.com/saket2012"><i data-feather="github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/saket-gonte/"><i data-feather="linkedin"></i></a></li>
      </ul>
    </div>
    <p style="text-align:center">
      Feel free to contact me via email: gonte.saket@gmail.com
    </p>
  </div>

</div>
{% endblock %}