{% extends "index.html" %}
{% block content %}
<div class="body">
  <div class="row">
    <div class="col s5 offset-s2">
      <h5>About:</h5>
      <p>Hi!!! I'm Saket.
      </p>
    </div>
    <div class="col s5">
      <h5>Social Media:</h5>
      <ul class="socialmedia">
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li><a href="https://www.github.com/saket2012"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/saket-gonte"><i class="fab fa-linkedin fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
  <!--Projects-->
  <div class="row">
    <div class="col s12 m9 l9 offset-m2 offset-l2 cards-container">
      <div class="card">
        <div class="card-content">
          <span class="title">
            <h5>Preciso: Effictive Content Improvisation System</h5>
          </span>
          <hr>
          <p>
              Preciso is a content improvisation system. It includes three functionalities: Spell Checking, Tone Checking and Summarization. 
              Spell Checking is a mechanism where Preciso will point out any erroneous word after parsing the entire document. If any such word is found, then Preciso will suggest that mistake through the correction panel.
              Tone Checking tells the user about the context of the document whether it is positive, negative or neutral.
              Further, it is not always possible to read the entire document in this busy world. Also before reading one, everyone wants to know what the content exactly deals with. Summarization provides one such provision to display a window of a document.
              Preciso is implemented in python, HTML, CSS and JavaScript. This project was sponsored by Persistent Systems Limited.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://github.com/saket2012/Preciso"><i class="fab fa-github-square fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="title">
            <h5>Infinity Motors: Car Showroom Management System. </h5>
          </span>
          <hr>
          <p>
            Infinity Motors is a windows-based desktop application created to store the information of all cars and customers. 
            It of cars and customers is stored in MongoDB database and C# .Net is used for frontend.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://github.com/saket2012/Infinity-Motors"><i class="fab fa-github-square fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-content ">
          <span class="title">
            <h5>Sample DataStudio File</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus commodo purus id bibendum. Mauris congue, ex eu tristique tempor, ante arcu tincidunt sem, quis luctus nisl massa in metus. In sed accumsan est, quis varius eros. Suspendisse turpis dui, condimentum quis nibh eu, ullamcorper tincidunt augue. Nunc ac elit nisl. Aenean mi lorem, faucibus eget orci eget, viverra eleifend odio.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i class="fab fa-github-square fa-3x"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fas fa-external-link-square-alt fa-3x"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-content ">
          <span class="title">
            <h5>Sample GCP API Script</h5>
          </span>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus commodo purus id bibendum. Mauris congue, ex eu tristique tempor, ante arcu tincidunt sem, quis luctus nisl massa in metus.
          </p>
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://www.github.com/"><i class="fab fa-github-square fa-3x"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fas fa-external-link-square-alt fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
